<!DOCTYPE html>
<html>

<%- include('head'); -%>

<body class="error-screen">
    <div class="content">
        <div class="terminal">
            <h2 class="error"># SERVICE IS UNAVAILABLE AT THE MOMENT</h2>
            <div>
                <p>We are sorry for the inconvenience, but this service is not available at the moment. </p>
                <p>Please try again later or ask your local service provider for help.</p>
            </div>
        </div>
    </div>
    <%- include('redparticles'); -%>
</body>

</html>