<!DOCTYPE html>
<html>

<%- include('head'); -%>

<body>
    <div class="content">
        <div class="terminal">
            <h1 class="error">$ TARGET NOT FOUND</h1>
            <p>We are sorry, but your location or target is not avaliable at the moment.</p>
        </div>
    </div>
    <%- include('particles'); -%>
</body>

</html>