<!DOCTYPE html>
<html>

<%- include('head'); -%>

<body>
    <div class="content">
        <div class="setup">
            <h1>switchboard.sys -- setup</h1>
            <section>
                <p>Setup successful!</p>
            </section>

        </div>
        <%- include('particles'); -%>
</body>

</html>