<!DOCTYPE html>
<html>

<%- include('head'); -%>

<body>
    <div class="content">
        <div class="setup">
            <h1>switchboard.sys -- setup</h1>
            <section>
                <p>Greetings sir or madam, in order to secure this service you must provide an admin password of your
                    choice.</p>
                <p>Without password you can not control the yellow pages (pages.json) and other administrative
                    functions!</p>
                <p>The service will stay offline until a password is set</p>
            </section>
            <hr>
            <form action="/setupdata" class="setupform" method="POST">
                <label for="pwa">Admin password:</label>
                <input type="password" id="pwa" name="pwa" required minlength="4" maxlength="8" size="128">
                <hr>
                <input type="submit"></input>
            </form>

        </div>
        <%- include('particles'); -%>
</body>

</html>